<h3> <%= @dojo.branch %>'s <%= @student.first_name %> <%= @student.last_name %></h3>

<h5>Email: <%= @student.email %></h5>

<table class="table table-striped table-bordered">
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
	</tr>
	<% @cohort.each do |c| %>
		<tr>
			<td> <%= c.first_name %> </td>
			<td> <%= c.last_name %> </td>
			<td> <%= c.email %> </td>
		</tr>
	<% end %>
</table>