<h1><%= @dojo.branch %>'s <%= @student.first_name %> <%= @student.last_name %></h1>

<h2>Email: <%= @student.email %></h2>

<h2>Cohort</h2>

<table style="border:1px solid black;">
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
	</tr>
	<% @cohort.each do |c| %>
	<tr>
		<td><%= c.first_name %></td>
		<td><%= c.last_name %></td>
		<td><%= c.email %></td>
	</tr>
	<% end %>
</table>

<a href="/">Home</a> |
<a href="/dojos/<%= @dojo.id %>/students/<%= @student.id %>/edit">Edit</a>