<div id="container">
	<% if flash[:sucess] %>
		<div id="success">
			<p><%= flash[:sucess] %></p>
		</div>
	<% end %>
	<table id="survey_form">
		<tr>
			<th colspan="2">
				<strong><u>Submitted Information</u></strong>
			</th>
		</tr>
		<tr>
			<td>Name:</td>
			<td><%= @result['name'] %></td>
			
		</tr>
		<tr>
			<td>Dojo Location:</td>
			<td><%= @result["location"] %></td>
		</tr>
		<tr>
			<td>Favorite Language:</td>
			<td><%= @result["language"] %></td>
		</tr>
		<tr>
			<td>Comment:</td>
			<td><%= @result['comment'] %></td>
		</tr>
		<tr>
			<td colspan="2" align="right">
				<%= link_to "Go Back", root_path %>
			</td>
		</tr>

	</table>
	<p><%= @result %></p>
</div>