<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Edit Car!</title>
</head>
<body>
	<h2>Edit the Car!</h2>
	
	<form action="/cars/<%= car._id %>" method="POST">
		<p>Make <input type="text" name="make" value="<%= car.make %>"></p>
		<p>Model <input type="text" name="model" value="<%= car.model %>"></p>
		<p>Year <input type="text" name="year" value="<%= car.year %>"></p>
		<p>Image <input type="text" name="image" value="<%= car.image %>"></p>
		<input type="submit" value="Edit Car">
	</form>

	<a href="/">Return to Home Page</a>


</body>
</html>